/*src home.css
Gabriel Caligiuri */

.hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__links {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.home__github, .home__linked {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  margin: 1rem;
  color: rgba(220, 230, 255, 0.85);
  border: 1px solid rgba(255,255,255,0.12);
  font-weight: 600;
  background-color: #0e152e;
}

